<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.behit.alarm.dao.AlarmDAO">

	<select id="alarmList" resultType="alarm">
	SELECT * from alarm where emp_id=#{param1} ORDER by alarm_date desc;
	</select>
	
	<delete id="deleteAlarm">
		DELETE from alarm
		where alarm_type = #{param2}
		and alarm_type_idx =#{param3}
		and emp_id = #{param1}
	</delete>
	<delete id="deleteAllAlarms">
		DELETE from alarm
		where emp_id = #{param1}
	</delete>
	<update id="updateAlarmRead">
		UPDATE alarm
		set
		alarm_readCheck = "Y"
		where emp_id =#{param1}
		and alarm_type = #{param2}
		and alarm_type_idx=#{param3}
	</update>
	<update id="readAllAlarm">
		UPDATE alarm
		set
		alarm_readCheck = "Y"
		where emp_id =#{param1}
	</update>
</mapper>