<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.behit.chat.dao.ChatDAO">

	<select id="deptName" resultType="String">
		SELECT emp_dept_name from department where emp_dept_idx = #{param1};
	</select>
	
	<select id="chatRoomList" resultType="chatRoom">
		SELECT
		cr.chat_room_idx,
		cr.chat_room_name,
		cr.chat_room_date,
		cp.emp_id
		from chat_room cr
			join chat_pp cp on cr.chat_room_idx = cp.chat_room_idx
			where cp.emp_id = #{param1} ORDER BY cr.chat_room_date DESC;
	
	</select>
	<select id="chatMember" resultType="chatRoom">
		SELECT emp_id from chat_pp cp where chat_room_idx = #{param1};
	</select>
	
</mapper>