<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.behit.commons.dao.CommonsDAO">
	
	
	<select id="getOrgList" resultType="orgchart">
		SELECT e.emp_id, e.emp_name, 
			(d.emp_dept_name) AS dept, 
			(select c.common_code_name 
			FROM commons_code c 
			WHERE c.common_code_idx = e.emp_grade_idx ) AS grade,
			(select c.common_code_name 
			FROM commons_code c 
			WHERE c.common_code_idx = e.emp_position_idx ) AS position
		FROM employee e JOIN department d 
		WHERE e.emp_dept_idx = d.emp_dept_idx AND e.emp_id NOT IN ("master")
		ORDER BY e.emp_dept_idx ASC, e.emp_position_idx ASC, e.emp_grade_idx ASC
	</select>
	
	<select id="getOrgListNM" resultType="orgchart">
		SELECT e.emp_id, e.emp_name, 
			(d.emp_dept_name) AS dept, 
			(select c.common_code_name 
			FROM commons_code c 
			WHERE c.common_code_idx = e.emp_grade_idx ) AS grade,
			(select c.common_code_name 
			FROM commons_code c 
			WHERE c.common_code_idx = e.emp_position_idx ) AS position
		FROM employee e JOIN department d 
		WHERE e.emp_dept_idx = d.emp_dept_idx AND e.emp_id NOT IN ("master", #{param1})
		ORDER BY e.emp_dept_idx ASC, e.emp_position_idx ASC, e.emp_grade_idx ASC
	</select>
	
	<select id="getOrgListCreP" resultType="orgchart">
	SELECT e.emp_id, e.emp_name, 
       d.emp_dept_name AS dept, 
       (SELECT c.common_code_name 
        FROM commons_code c 
        WHERE c.common_code_idx = e.emp_grade_idx) AS grade,
       (SELECT c.common_code_name 
        FROM commons_code c 
        WHERE c.common_code_idx = e.emp_position_idx) AS position
FROM employee e 
JOIN department d ON e.emp_dept_idx = d.emp_dept_idx
WHERE e.emp_id NOT IN (
    'master', #{param1}, 
    (SELECT emp_id FROM employee WHERE emp_dept_idx = 6 AND emp_position_idx = 8)
)
AND NOT EXISTS (
    SELECT 1 FROM creator_perm WHERE cre_idx = #{param2} AND e.emp_id = emp_id
)
ORDER BY e.emp_dept_idx ASC, e.emp_position_idx ASC, e.emp_grade_idx ASC;
	
	</select>
	
	<select id="getOrgListApvP" resultType="orgchart">
	SELECT e.emp_id, e.emp_name, 
       d.emp_dept_name AS dept, 
       (SELECT c.common_code_name 
        FROM commons_code c 
        WHERE c.common_code_idx = e.emp_grade_idx) AS grade,
       (SELECT c.common_code_name 
        FROM commons_code c 
        WHERE c.common_code_idx = e.emp_position_idx) AS position
FROM employee e 
JOIN department d ON e.emp_dept_idx = d.emp_dept_idx
WHERE e.emp_id NOT IN (
    'master', #{param1}, #{param3}
)
AND NOT EXISTS (
    SELECT 1 FROM apv_perm WHERE apv_idx = #{param2} AND e.emp_id = emp_id
)
ORDER BY e.emp_dept_idx ASC, e.emp_position_idx ASC, e.emp_grade_idx ASC;
	
	</select>
	
	
	<select id="getDeptSum" resultType="String">
		SELECT DISTINCT
			(d.emp_dept_name) AS dept 
		FROM employee e JOIN department d 
		WHERE e.emp_dept_idx = d.emp_dept_idx AND e.emp_id NOT IN ("master")
		ORDER BY e.emp_dept_idx ASC
	</select>
</mapper>