<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.behit.creator.dao.CreatorStatDAO">
	
	<select id="getChannelId" resultType="String">
		SELECT channel_id FROM channel; 
	</select>
	
	<insert id="saveChannelData" parameterType="String">
		INSERT INTO channeldata (
			channel_id, subscriber, views, contents
		)
	</insert>
</mapper>