<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<!-- code : 3 = gender, 4 : country -->
<mapper namespace="com.behit.creator.dao.CreatorDAO">
	<select id="getGenders" resultType="commcre">
		SELECT (common_code_idx) AS code_idx, 
			(common_code_kind) AS code_kind,
			(common_code_name) AS code_name
		FROM commons_code WHERE common_code_kind = 3
	</select>
	<select id="getCountries" resultType="commcre">
		SELECT (common_code_idx) AS code_idx, 
			(common_code_kind) AS code_kind,
			(common_code_name) AS code_name
		FROM commons_code WHERE common_code_kind = 4 
		ORDER BY common_code_name ASC
	</select>
	<select id="getChCategory" resultType="String">
		SELECT (common_code_name) AS code_name
		FROM commons_code WHERE common_code_kind = 5
	</select>
	
	<!-- 크리에이터 등록 -->
	
	<!-- insert Creator -->
	<insert useGeneratedKeys="true" keyProperty="cre_idx"
		id="creatorInsert" parameterType="creator">
		INSERT INTO creator (
			emp_id,cre_name,cre_nick_name,cre_gender
			,cre_email,cre_phone,cre_birthday,cre_country
			,cre_address,cre_address_detail, cre_contract_start
			,cre_contract_end, cre_specifics,emp_id_in,emp_id_up
		) 
		VALUES (
			#{mng_id}, #{cre_name},#{cre_nick_name}, #{cre_gender}
			,#{cre_email},#{cre_phone},#{cre_birthday}, #{cre_country},
			#{cre_address},#{cre_address_detail},#{cre_contract_start}
			,#{cre_contract_end},#{cre_specifics},#{emp_id_in},#{emp_id_up}
		)
	</insert>
	<!-- insert Channel  -->
	<insert id="channelInsert" parameterType="channel">
		INSERT INTO channel (
			channel_id, cre_idx, channel_name, channel_url, rep_channel
			,channel_date, channel_cate, rep_video, emp_id,emp_id_up
		)
		VALUES (
			#{channel_id},#{cre_idx},#{channel_name},#{channel_url},#{rep_channel}
			,#{channel_date},#{channel_cate}, #{rep_video},#{emp_id},#{emp_id_up}
		)
	</insert>
	<insert id="snsInsert" parameterType="sns">
		INSERT INTO creatorsns	(
			cre_idx, sns_url, sns_cate, emp_id, emp_id_up
		)
		VALUES (
			#{cre_idx},#{sns_url},#{sns_cate},#{emp_id},#{emp_id_up}
		);
	</insert>
	<insert id="creHisInsert" parameterType="creHistory">
		INSERT INTO creatorhistory (
			cre_idx, cre_his_title, cre_his_cate, cre_his_content, history_date
			,emp_id, emp_id_up
		)
		VALUES (
			#{cre_idx}, #{cre_his_title}, #{cre_his_cate}, #{cre_his_content}
			, #{history_date}, #{emp_id}, #{emp_id_up}
		)
	</insert>
	
	<!-- 크리에이터 리스트 불러오기 -->
	<!-- 토탈 정보 불러오기 -->
	<select id="getTotalInfo" resultType="HashMap"> 
		SELECT 
		    (SELECT COUNT(*) FROM creator) as total_creators,
		    (SELECT COUNT(*) FROM channel) as total_channels,
		    SUM(latest_subscriber) as total_subscribers,
		    SUM(latest_contents) as total_contents
		FROM (
		    SELECT 
		        channel_id, 
		        MAX(subscriber) as latest_subscriber, 
		        MAX(contents) as latest_contents
		    FROM channeldata
		    GROUP BY channel_id
		) as latest_channel_data;
	</select>
	<!-- 크리에이터 전체 리스트 -->
	<select id="getAllList" resultType="HashMap">
		SELECT c.cre_idx, c.cre_nick_name ,(e.emp_name)AS mng_name, 
			ch.channel_url ,ch.channel_name, ch.channel_cate
		FROM creator c 
		JOIN channel ch ON c.cre_idx = ch.cre_idx AND ch.rep_channel =1
		JOIN employee e ON c.emp_id = e.emp_id ;
	</select>
	
	<!-- 나의 크리에이터 리스트 -->
	<select id="getMyList" parameterType="String" resultType="HashMap">
		SELECT 
		    c.cre_idx, c.cre_nick_name, ch.channel_name, ch.channel_url, ch.channel_cate,
		    tc.last_subscriber, tc.last_views, tc.last_contents
		FROM creator c 
		JOIN  channel ch ON c.cre_idx = ch.cre_idx
		JOIN (
		        SELECT c2.cre_idx, ch2.channel_id,
		            MAX(cd2.subscriber) as last_subscriber, 
		            MAX(cd2.contents) as last_contents,
		            MAX(cd2.views) as last_views
		        FROM channeldata cd2 JOIN channel ch2 
		            ON cd2.channel_id = ch2.channel_id 
		        JOIN creator c2 
		        	ON c2.cre_idx = ch2.cre_idx 
		        GROUP BY ch2.channel_id
		    ) AS tc 
		    	ON ch.cre_idx = tc.cre_idx
		WHERE ch.rep_channel AND c.emp_id = #{loginId};
	</select>
	
	
</mapper>