<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.behit.creator.dao.CreatorStatDAO">
	
	<select id="getChannelId" resultType="HashMap">
		SELECT channel_id , rep_channel FROM channel LIMIT 5
	</select>
	
	<insert id="saveChannelData" parameterType="channeldata">
		INSERT IGNORE INTO channeldata (
		    channel_id, subscriber, views, contents, rep_channel, view_trend
		) VALUES (
		     #{channel_id}, #{subscriber}, #{views}, #{contents},#{rep_channel},
		    IFNULL((#{views} - (SELECT IFNULL(views, 0) 
		            FROM channeldata c2
		            WHERE channel_id = #{channel_id}
		            ORDER BY channel_data_date DESC LIMIT 1
		        )), 0 )
		)
	</insert>
	
	
</mapper>