<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.behit.profile.dao.DashBoardDAO">

	<select id="workToday">
		SELECT
			emp_id,
			work_day,
			DATE_FORMAT(work_start_time, '%H:%i') as work_start_time,
			DATE_FORMAT(work_end_time, '%H:%i') as work_end_time,
			DATE_FORMAT(work_started, '%H:%i') as work_started,
			DATE_FORMAT(work_ended, '%H:%i') as work_ended
			from commute_history
		where emp_id =#{param1} and work_day =#{param2}
	</select>
	<update id="workStarted">
		UPDATE commute_history
		set work_started = #{param2}
		where emp_id = #{param1} and work_day = #{param3}
	</update>
	<update id="workEnded">
		UPDATE commute_history
		set work_ended = #{param2}
		where emp_id = #{param1} and work_day = #{param3}
	</update>
	
	<select id="startCnk" resultType="boolean">
		SELECT COUNT(work_started) FROM commute_history WHERE emp_id = #{loginId} AND work_day = #{todayDate};
	</select>
	
	<select id="endCnk" resultType="boolean">
		SELECT COUNT(work_ended) FROM commute_history WHERE emp_id = #{loginId} AND work_day = #{todayDate};
	</select>
	
	<select id="dashvaca">
		SELECT (COALESCE((SELECT SUM(ev.add_hour) FROM emp_vacation ev WHERE ev.emp_id = e.emp_id), 0) - 
		    COALESCE((SELECT SUM(vh.use_hour) FROM vacation_history vh WHERE vh.emp_id = e.emp_id), 0)) AS remainhour,
		    COALESCE((SELECT SUM(vh.use_hour) FROM vacation_history vh WHERE vh.emp_id = e.emp_id), 0) AS usehour
		    FROM employee e
		WHERE emp_id = #{login_id};
	</select>
</mapper>