<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.behit.employee.dao.EmployeeDAO">
	<insert id="join" parameterType="HashMap">
		INSERT INTO employee (emp_id, emp_name, password, emp_birth, email, cp_phone, mobile_phone, address, detail_addr, position_idx)
			VALUES(#{emp_id}, #{emp_name}, #{password}, #{emp_birth}, #{email}, #{cp_phone}, #{mobile_phone}, #{address}, #{detail_addr}, 0);
	</insert>
</mapper>