<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.behit.employee.dao.LoginDAO">
	<select id="getPw" parameterType="String" resultType="String">
		SELECT password FROM employee WHERE emp_id = #{emp_id}
	</select>
	
	<select id="login" parameterType="String" resultType="employee">
		SELECT * FROM employee WHERE emp_id = #{emp_id};  
	</select>
	
	<select id="getLockChk" parameterType="String" resultType="int">
		SELECT login_lock FROM employee WHERE emp_id = #{emp_id}
	</select>
	
	<update id="lockCnt" parameterType="HashMap" >
		<selectKey keyProperty="lockCnt" resultType="int" order="AFTER">
			SELECT COALESCE(login_lock, -1) FROM employee WHERE emp_id = #{emp_id}
		</selectKey>
		UPDATE employee SET login_lock = 
		<choose>
			<when test="success == true">
				0 
			</when>
			<otherwise>
				(login_lock+1) 
			</otherwise>
		</choose>
		WHERE emp_id = #{emp_id};
	</update>
	
	<select id="leaveCnt" resultType="boolean">
		SELECT IF(leavedate = '9999-10-10', true, false) AS leavedate FROM employee WHERE emp_id = #{emp_id};
	</select>
</mapper>