<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.behit.profile.dao.ProfileDAO">
	<select id="prodetail" resultType="employee">
		SELECT e.emp_id, e.emp_name, password, e.emp_birth, e.email, e.cp_phone, e.mobile_phone, e.hiredate, e.leavedate, e.address, e.detail_addr,
					d.emp_dept_name AS 'dept_name',
				    cc_position.common_code_name AS 'position_name',
				    cc_grade.common_code_name AS 'grade_name',
				    e.emp_dept_idx, e.emp_position_idx, e.emp_grade_idx
				FROM 
    				employee e
			    JOIN department d ON e.emp_dept_idx = d.emp_dept_idx
			    JOIN commons_code cc_position ON cc_position.common_code_idx = e.emp_position_idx
			    JOIN commons_code cc_grade ON cc_grade.common_code_idx = e.emp_grade_idx
		WHERE e.emp_id = #{login_id};
	</select>
	
	<select id="passChange" parameterType="String">
		UPDATE employee
			SET password = #{hash}
		WHERE emp_id = #{login_id};
	</select>
	
	<select id="getPw" parameterType="String" resultType="String">
		SELECT password FROM employee WHERE emp_id = #{login_id}
	</select>
	
	<select id="getPhoto" resultType="com.behit.profile.dto.FileDTO">
   		SELECT * FROM file 
			WHERE file_kind_idx = #{login_id} AND file_kind = 5;
	</select>
	
	<update id="photoupdate" parameterType="HashMap">
		UPDATE file SET ori_file_name = #{ori_file_name} AND new_file_name = #{new_file_name} AND upload_date = now()
			WHERE file_kind_idx = #{file_kind_idx};
	</update>
</mapper>