<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.behit.employee.dao.WorkDAO">
	<select id="worklist" resultType="work">
		SELECT 
			e.emp_id, e.emp_name, d.emp_dept_name AS 'dept_name',
		    COALESCE((SELECT CONCAT(
		        LPAD(HOUR(ch.work_start_time), 2, '0'),
		        ':',
		        LPAD(MINUTE(ch.work_start_time), 2, '0')
		    ) FROM commute_history ch WHERE ch.work_day = #{date} AND e.emp_id = ch.emp_id), '00:00') AS work_start,
			COALESCE((SELECT CONCAT(
		        LPAD(HOUR(ch.work_end_time), 2, '0'),
		        ':',
		        LPAD(MINUTE(ch.work_end_time), 2, '0')
		    ) FROM commute_history ch WHERE ch.work_day = #{date} AND e.emp_id = ch.emp_id), '00:00') AS work_end,
			COALESCE((SELECT CONCAT(
		        LPAD(HOUR(vh.vaca_start), 2, '0'),
		        ':',
		        LPAD(MINUTE(vh.vaca_start), 2, '0')
		    )FROM vacation_history vh WHERE vh.vaca_date = #{date} AND e.emp_id = vh.emp_id), '-') AS vaca_start,
		    COALESCE((SELECT CONCAT(
		        LPAD(HOUR(vh.vaca_end_time), 2, '0'),
		        ':',
		        LPAD(MINUTE(vh.vaca_end_time), 2, '0')
		    )FROM vacation_history vh WHERE vh.vaca_date = #{date} AND e.emp_id = vh.emp_id), '-') AS vaca_end,
		    COALESCE((SELECT vh.use_hour FROM vacation_history vh WHERE vh.vaca_date = #{date} AND e.emp_id = vh.emp_id),
		        '0') AS use_hour,
		    COALESCE((SELECT CONCAT(
		        LPAD(HOUR(ch.work_started), 2, '0'),
		        ':',
		        LPAD(MINUTE(ch.work_started), 2, '0')
		    ) FROM commute_history ch WHERE ch.work_day = #{date} AND e.emp_id = ch.emp_id), '00:00') AS work_started,
		    COALESCE((SELECT CONCAT(
		        LPAD(HOUR(ch.work_ended), 2, '0'),
		        ':',
		        LPAD(MINUTE(ch.work_ended), 2, '0')
		    ) FROM commute_history ch WHERE ch.work_day = #{date} AND e.emp_id = ch.emp_id), '00:00') AS work_ended,
		    COALESCE((SELECT work_state FROM commute_history ch WHERE ch.work_day = #{date} AND e.emp_id = ch.emp_id), '-') AS work_state,
			COALESCE((f.ori_file_name),'default') AS ori_file_name,
		    COALESCE((f.new_file_name),'default') AS new_file_name
		    FROM employee e
		    JOIN department d ON e.emp_dept_idx = d.emp_dept_idx
		   	LEFT JOIN file f ON e.emp_id = f.file_kind_idx
		    ORDER BY e.emp_name asc LIMIT 10 offset #{offset};
	</select>
	
	<select id="totalPage" resultType="int">
   		SELECT CEIL(COUNT(emp_id)/#{param1}) AS pages FROM employee WHERE emp_id NOT IN ('master');
    </select>
    
    <select id="detail" parameterType="String" resultType="vacation">
		SELECT 
			e.emp_id,
			e.emp_name,
			e.hiredate,
			d.emp_dept_name,
			COALESCE((SELECT SUM(ev.add_hour) FROM emp_vacation ev WHERE ev.emp_id = e.emp_id), 0) AS totalhour,
		    COALESCE((SELECT SUM(vh.use_hour) FROM vacation_history vh WHERE vh.emp_id = e.emp_id), 0) AS usehour,
		    (COALESCE((SELECT SUM(ev.add_hour) FROM emp_vacation ev WHERE ev.emp_id = e.emp_id), 0) - 
		    COALESCE((SELECT SUM(vh.use_hour) FROM vacation_history vh WHERE vh.emp_id = e.emp_id), 0)) AS remainhour,
		    COALESCE ((SELECT SUM(add_hour) FROM emp_vacation ev WHERE ev.emp_id = e.emp_id AND vaca_name = '연차'), 0) AS yearhour,
		    COALESCE ((SELECT SUM(add_hour) FROM emp_vacation ev WHERE ev.emp_id = e.emp_id AND vaca_name = '월차'), 0) AS monthhour,
		    COALESCE ((SELECT SUM(add_hour) FROM emp_vacation ev WHERE ev.emp_id = e.emp_id AND vaca_name = '이월'), 0) AS overhour,
		    COALESCE ((SELECT SUM(add_hour) FROM emp_vacation ev WHERE ev.emp_id = e.emp_id AND vaca_name = '조정연차'), 0) AS createhour
		FROM employee e
		JOIN department d ON e.emp_dept_idx = d.emp_dept_idx
		WHERE emp_id = #{login_id};
	</select>
	
	<select id="usingList" parameterType="String" resultType="vacation">
		SELECT e.emp_name, d.emp_dept_name, vh.use_hour, vh.vaca_start, vh.vaca_end_time, vh.vaca_reason FROM employee e
		JOIN vacation_history vh ON e.emp_id = vh.emp_id
		JOIN department d ON e.emp_dept_idx = d.emp_dept_idx WHERE e.emp_id = #{login_id};
	</select>
	
	<select id="createList" parameterType="String" resultType="vacation">
		SELECT add_date, del_date, add_hour, add_vaca_reason FROM emp_vacation ev WHERE emp_id = #{login_id};
	</select>
	
	<insert id="selectdate" parameterType="HashMap">
		INSERT INTO commute_history (emp_id, work_day, work_start_time, work_end_time, work_date_in)
			VALUES(#{login_id}, #{workdate}, #{work_start_time}, #{work_end_time}, now());
	</insert>
	
	<update id="updatedate" parameterType="HashMap">
		UPDATE commute_history 
			SET work_start_time = #{work_start_time}, work_end_time = #{work_end_time}, work_date_in = NOW()
			WHERE work_day = #{workdate}
	</update>
	
	<select id="workmodal" resultType="work">
		SELECT ch.work_day, 
			COALESCE(CONCAT(LPAD(HOUR(ch.work_start_time), 2, '0'),':',LPAD(MINUTE(ch.work_start_time), 2, '0')), '00:00') AS work_start,
			COALESCE(CONCAT(LPAD(HOUR(ch.work_end_time), 2, '0'),':',LPAD(MINUTE(ch.work_end_time), 2, '0')), '00:00') AS work_end, 
			COALESCE(CONCAT(LPAD(HOUR(vh.vaca_start), 2, '0'),':',LPAD(MINUTE(vh.vaca_start), 2, '0')), '00:00') AS vaca_start, 
			COALESCE(CONCAT(LPAD(HOUR(vh.vaca_end_time), 2, '0'),':',LPAD(MINUTE(vh.vaca_end_time), 2, '0')), '00:00') AS vaca_end,
			COALESCE(CONCAT(LPAD(HOUR(ch.work_started), 2, '0'),':',LPAD(MINUTE(ch.work_started), 2, '0')), '00:00') AS work_started,
			COALESCE(CONCAT(LPAD(HOUR(ch.work_ended), 2, '0'),':',LPAD(MINUTE(ch.work_ended), 2, '0')), '00:00') AS work_ended,
			COALESCE(ch.work_state, '-') AS work_state 
			FROM commute_history ch
			JOIN employee e ON e.emp_id = ch.emp_id
			LEFT JOIN vacation_history vh ON ch.work_day = vh.vaca_date 
			WHERE e.emp_id = #{emp_id} AND ch.work_day LIKE CONCAT(#{modaldate}, '-%')
		ORDER BY ch.work_day asc;
	</select>
	
	<select id="workChk" resultType="boolean">
		SELECT COUNT(*) FROM commute_history WHERE emp_id = #{login_id} AND work_day = #{workdate} 
	</select>
	
	<select id="timelineList" resultType="HashMap">
		SELECT ch.work_day, 
			COALESCE(CONCAT(LPAD(HOUR(ch.work_start_time), 2, '0'),':',LPAD(MINUTE(ch.work_start_time), 2, '0')), '00:00') AS work_start,
			COALESCE(CONCAT(LPAD(HOUR(ch.work_end_time), 2, '0'),':',LPAD(MINUTE(ch.work_end_time), 2, '0')), '00:00') AS work_end, 
			COALESCE(CONCAT(LPAD(HOUR(vh.vaca_start), 2, '0'),':',LPAD(MINUTE(vh.vaca_start), 2, '0')), '00:00') AS vaca_start, 
			COALESCE(CONCAT(LPAD(HOUR(vh.vaca_end_time), 2, '0'),':',LPAD(MINUTE(vh.vaca_end_time), 2, '0')), '00:00') AS vaca_end
			FROM commute_history ch
			LEFT JOIN vacation_history vh ON ch.work_day = vh.vaca_date 
			WHERE ch.emp_id = #{login_id} AND ch.work_day LIKE CONCAT(#{workmonth}, '-%')
		ORDER BY ch.work_day asc;
	</select>
	
	<select id="timeNowList" resultType="HashMap">
		SELECT ch.work_day, 
			COALESCE(CONCAT(LPAD(HOUR(ch.work_start_time), 2, '0'),':',LPAD(MINUTE(ch.work_start_time), 2, '0')), '00:00') AS work_start,
			COALESCE(CONCAT(LPAD(HOUR(ch.work_end_time), 2, '0'),':',LPAD(MINUTE(ch.work_end_time), 2, '0')), '00:00') AS work_end, 
			COALESCE(CONCAT(LPAD(HOUR(vh.vaca_start), 2, '0'),':',LPAD(MINUTE(vh.vaca_start), 2, '0')), '00:00') AS vaca_start, 
			COALESCE(CONCAT(LPAD(HOUR(vh.vaca_end_time), 2, '0'),':',LPAD(MINUTE(vh.vaca_end_time), 2, '0')), '00:00') AS vaca_end
			FROM commute_history ch
			LEFT JOIN vacation_history vh ON ch.work_day = vh.vaca_date 
			WHERE ch.emp_id = #{login_id} AND ch.work_day LIKE CONCAT(#{workmonth}, '-%')
		ORDER BY ch.work_day asc;
	</select>

</mapper>