<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.behit.employee.dao.WorkDAO">
	<select id="worklist" resultType="work">
		SELECT
			e.emp_name, d.emp_dept_name AS 'dept_name',
			CONCAT(
		        COALESCE(LPAD(HOUR(ch.work_start_time), 2, '0'), '-'),
		        ':',
		        COALESCE(LPAD(MINUTE(ch.work_start_time), 2, '0'), '-')
		    ) AS work_start,
		    	CONCAT(
		        COALESCE(LPAD(HOUR(ch.work_end_time), 2, '0'), '-'),
		        ':',
		        COALESCE(LPAD(MINUTE(ch.work_end_time), 2, '0'), '-')
		    ) AS work_end,
			COALESCE(
		        (SELECT CONCAT(
		        COALESCE(LPAD(HOUR(vh.vaca_start), 2, '0'), '-'),
		        ':',
		        COALESCE(LPAD(MINUTE(vh.vaca_start), 2, '0'), '-')
		    )FROM vacation_history vh WHERE vh.vaca_date = #{date} AND e.emp_id = vh.emp_id),
		        '-'
		    ) AS vaca_start,
		    COALESCE(
		        (SELECT CONCAT(
		        COALESCE(LPAD(HOUR(vh.vaca_end_time), 2, '0'), '0'),
		        ':',
		        COALESCE(LPAD(MINUTE(vh.vaca_end_time), 2, '0'), '0')
		    )FROM vacation_history vh WHERE vh.vaca_date = #{date} AND e.emp_id = vh.emp_id),
		        '-'
		    ) AS vaca_end,
		    COALESCE(
		        (SELECT vh.use_hour FROM vacation_history vh WHERE vh.vaca_date = #{date} AND e.emp_id = vh.emp_id),
		        '-'
		    ) AS use_hour,
		    CONCAT(
		        COALESCE(LPAD(HOUR(ch.work_started), 2, '0'), '00'),
		        ':',
		        COALESCE(LPAD(MINUTE(ch.work_started), 2, '0'), '00')
		    ) AS work_started,
		        CONCAT(
		        COALESCE(LPAD(HOUR(ch.work_ended), 2, '0'), '00'),
		        ':',
		        COALESCE(LPAD(MINUTE(ch.work_ended), 2, '0'), '00')
		    ) AS work_ended,
		    ch.work_state,
			COALESCE(
		        (SELECT f.ori_file_name FROM file f WHERE f.file_kind = 5 AND e.emp_id = f.file_kind_idx),
		        'default'
		    ) AS ori_file_name,
		    COALESCE(
		        (SELECT f.new_file_name FROM file f WHERE f.file_kind = 5 AND e.emp_id = f.file_kind_idx),
		        'default'
		    ) AS new_file_name 
		    FROM employee e
		    JOIN department d ON e.emp_dept_idx = d.emp_dept_idx
		    JOIN commute_history ch ON e.emp_id = ch.emp_id
	    WHERE ch.work_day = #{date} LIMIT 10 offset #{offset};
	</select>
	
	<select id="totalPage" resultType="int">
   		SELECT CEIL(COUNT(emp_id)/#{param1}) AS pages FROM employee;
    </select>
    
    <select id="detail" parameterType="String" resultType="vacation">
		SELECT 
			e.emp_id,
			e.emp_name,
			e.hiredate,
			d.emp_dept_name,
			COALESCE((SELECT SUM(ev.add_hour) FROM emp_vacation ev WHERE ev.emp_id = e.emp_id), 0) AS totalhour,
		    COALESCE((SELECT SUM(vh.use_hour) FROM vacation_history vh WHERE vh.emp_id = e.emp_id), 0) AS usehour,
		    (COALESCE((SELECT SUM(ev.add_hour) FROM emp_vacation ev WHERE ev.emp_id = e.emp_id), 0) - 
		    COALESCE((SELECT SUM(vh.use_hour) FROM vacation_history vh WHERE vh.emp_id = e.emp_id), 0)) AS remainhour,
		    COALESCE ((SELECT SUM(add_hour) FROM emp_vacation ev WHERE ev.emp_id = e.emp_id AND vaca_name = '연차'), 0) AS yearhour,
		    COALESCE ((SELECT SUM(add_hour) FROM emp_vacation ev WHERE ev.emp_id = e.emp_id AND vaca_name = '월차'), 0) AS monthhour,
		    COALESCE ((SELECT SUM(add_hour) FROM emp_vacation ev WHERE ev.emp_id = e.emp_id AND vaca_name = '이월'), 0) AS overhour,
		    COALESCE ((SELECT SUM(add_hour) FROM emp_vacation ev WHERE ev.emp_id = e.emp_id AND vaca_name = '조정연차'), 0) AS createhour
		FROM employee e
		JOIN department d ON e.emp_dept_idx = d.emp_dept_idx
		WHERE emp_id = #{login_id};
	</select>
	
	<select id="usingList" parameterType="String" resultType="vacation">
		SELECT e.emp_name, d.emp_dept_name, vh.use_hour, vh.vaca_start, vh.vaca_end_time, vh.vaca_reason FROM employee e
		JOIN vacation_history vh ON e.emp_id = vh.emp_id
		JOIN department d ON e.emp_dept_idx = d.emp_dept_idx WHERE e.emp_id = #{login_id};
	</select>
	
	<select id="createList" parameterType="String" resultType="vacation">
		SELECT add_date, del_date, add_hour, add_vaca_reason FROM emp_vacation ev WHERE emp_id = #{login_id};
	</select>

</mapper>