<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.behit.employee.dao.WorkDAO">
	<select id="worklistall" resultType="work">
		SELECT 
			e.emp_id, e.emp_name, d.emp_dept_name AS 'dept_name',
		    COALESCE((SELECT  DATE_FORMAT(ch.work_start_time, '%H:%i') AS work FROM commute_history ch WHERE ch.work_day = #{date} AND e.emp_id = ch.emp_id), '00:00') AS work_start,
			COALESCE((SELECT  DATE_FORMAT(ch.work_end_time, '%H:%i') AS work FROM commute_history ch WHERE ch.work_day = #{date} AND e.emp_id = ch.emp_id), '00:00') AS work_end,
			COALESCE((SELECT  DATE_FORMAT(vh.vaca_start, '%H:%i') AS work FROM vacation_history vh WHERE vh.vaca_date = #{date} AND e.emp_id = vh.emp_id LIMIT 1), '-') AS vaca_start,
			COALESCE((SELECT  DATE_FORMAT(vh.vaca_end_time, '%H:%i') AS work FROM vacation_history vh WHERE vh.vaca_date = #{date} AND e.emp_id = vh.emp_id LIMIT 1), '-') AS vaca_end,
		    COALESCE((SELECT  DATE_FORMAT(ch.work_started, '%H:%i') AS work FROM commute_history ch WHERE ch.work_day = #{date} AND e.emp_id = ch.emp_id), '00:00') AS work_started,
		    COALESCE((SELECT  DATE_FORMAT(ch.work_ended, '%H:%i') AS work FROM commute_history ch WHERE ch.work_day = #{date} AND e.emp_id = ch.emp_id), '00:00') AS work_ended,
		    COALESCE((SELECT work_state FROM commute_history ch WHERE ch.work_day = #{date} AND e.emp_id = ch.emp_id), '-') AS work_state,
			COALESCE((f.ori_file_name),'default') AS ori_file_name,
		    COALESCE((f.new_file_name),'default') AS new_file_name
		    FROM employee e
		    JOIN department d ON e.emp_dept_idx = d.emp_dept_idx
		   	LEFT JOIN file f ON e.emp_id = f.file_kind_idx
		WHERE e.emp_id NOT IN ('master')  AND leavedate = '9999-10-10'
		ORDER BY e.emp_date desc LIMIT 10 offset #{offset};
	</select>
	
	<select id="worklist" resultType="work">
		SELECT 
			e.emp_id, e.emp_name, d.emp_dept_name AS 'dept_name',
		    COALESCE((SELECT  DATE_FORMAT(ch.work_start_time, '%H:%i') AS work FROM commute_history ch WHERE ch.work_day = #{date} AND e.emp_id = ch.emp_id), '00:00') AS work_start,
			COALESCE((SELECT  DATE_FORMAT(ch.work_end_time, '%H:%i') AS work FROM commute_history ch WHERE ch.work_day = #{date} AND e.emp_id = ch.emp_id), '00:00') AS work_end,
			COALESCE((SELECT  DATE_FORMAT(vh.vaca_start, '%H:%i') AS work FROM vacation_history vh WHERE vh.vaca_date = #{date} AND e.emp_id = vh.emp_id LIMIT 1), '-') AS vaca_start,
			COALESCE((SELECT  DATE_FORMAT(vh.vaca_end_time, '%H:%i') AS work FROM vacation_history vh WHERE vh.vaca_date = #{date} AND e.emp_id = vh.emp_id LIMIT 1), '-') AS vaca_end,
		    COALESCE((SELECT  DATE_FORMAT(ch.work_started, '%H:%i') AS work FROM commute_history ch WHERE ch.work_day = #{date} AND e.emp_id = ch.emp_id), '00:00') AS work_started,
		    COALESCE((SELECT  DATE_FORMAT(ch.work_ended, '%H:%i') AS work FROM commute_history ch WHERE ch.work_day = #{date} AND e.emp_id = ch.emp_id), '00:00') AS work_ended,
		    COALESCE((SELECT work_state FROM commute_history ch WHERE ch.work_day = #{date} AND e.emp_id = ch.emp_id), '-') AS work_state,
			COALESCE((f.ori_file_name),'default') AS ori_file_name,
		    COALESCE((f.new_file_name),'default') AS new_file_name
		    FROM employee e
		    JOIN department d ON e.emp_dept_idx = d.emp_dept_idx
		   	LEFT JOIN file f ON e.emp_id = f.file_kind_idx
		WHERE e.emp_id NOT IN ('master')  AND leavedate = '9999-10-10' AND e.emp_dept_idx = #{login_dept}
		ORDER BY e.emp_date desc LIMIT 10 offset #{offset};
	</select>
	
	<select id="totalPage" resultType="int">
   		SELECT CEIL(COUNT(emp_id)/10) AS pages FROM employee WHERE emp_id NOT IN ('master') AND leavedate = '9999-10-10'
   		<if test="login_dept != 2">AND emp_dept_idx = #{login_dept}</if>;
    </select>
    
    <select id="detail" parameterType="String" resultType="vacation">
		SELECT 
			e.emp_id,
			e.emp_name,
			e.hiredate,
			d.emp_dept_name,
			COALESCE((SELECT SUM(ev.add_hour) FROM emp_vacation ev WHERE ev.emp_id = e.emp_id), 0) AS totalhour,
		    COALESCE((SELECT SUM(vh.use_hour) FROM vacation_history vh WHERE vh.emp_id = e.emp_id), 0) AS usehour,
		    (COALESCE((SELECT SUM(ev.add_hour) FROM emp_vacation ev WHERE ev.emp_id = e.emp_id), 0) - 
		    COALESCE((SELECT SUM(vh.use_hour) FROM vacation_history vh WHERE vh.emp_id = e.emp_id), 0)) AS remainhour,
		    COALESCE ((SELECT SUM(add_hour) FROM emp_vacation ev WHERE ev.emp_id = e.emp_id AND vaca_name = '연차'), 0) AS yearhour,
		    COALESCE ((SELECT SUM(add_hour) FROM emp_vacation ev WHERE ev.emp_id = e.emp_id AND vaca_name = '월차'), 0) AS monthhour,
		    COALESCE ((SELECT SUM(add_hour) FROM emp_vacation ev WHERE ev.emp_id = e.emp_id AND vaca_name = '이월'), 0) AS overhour,
		    COALESCE ((SELECT SUM(add_hour) FROM emp_vacation ev WHERE ev.emp_id = e.emp_id AND vaca_name = '조정연차'), 0) AS createhour
		FROM employee e
		JOIN department d ON e.emp_dept_idx = d.emp_dept_idx
		WHERE emp_id = #{login_id};
	</select>
	
	<select id="usingList" parameterType="String" resultType="vacation">
		SELECT e.emp_name, d.emp_dept_name, vh.use_hour, 
			DATE_FORMAT(vh.vaca_start, '%Y-%m-%d %H:%i') AS vaca_start, 
			DATE_FORMAT(vh.vaca_end_time, '%Y-%m-%d %H:%i') AS vaca_end_time, 
			vh.vaca_reason 
			FROM employee e
		JOIN vacation_history vh ON e.emp_id = vh.emp_id
		JOIN department d ON e.emp_dept_idx = d.emp_dept_idx WHERE e.emp_id = #{login_id}
		ORDER BY vh.vaca_date_in ASC;
	</select>
	
	<select id="createList" parameterType="String" resultType="vacation">
		SELECT add_date, del_date, add_hour, add_vaca_reason FROM emp_vacation ev 
			WHERE emp_id = #{login_id};
	</select>
	
	<insert id="selectdate" parameterType="HashMap">
		INSERT INTO commute_history (emp_id, work_day, work_start_time, work_end_time, work_date_in)
			VALUES(#{login_id}, #{workdate}, #{work_start_time}, #{work_end_time}, now());
	</insert>
	
	<update id="updatedate" parameterType="HashMap">
		UPDATE commute_history 
			SET work_start_time = #{work_start_time}, work_end_time = #{work_end_time}, work_date_in = NOW()
			WHERE work_day = #{workdate}
	</update>
	
	<select id="workfmodal" resultType="work">
		SELECT ch.work_day, 
			COALESCE(DATE_FORMAT(ch.work_start_time, '%H:%i'), '00:00') AS work_start,
			COALESCE(DATE_FORMAT(ch.work_end_time, '%H:%i'), '00:00') AS work_end, 
			COALESCE(DATE_FORMAT(vh.vaca_start, '%H:%i'), '00:00') AS vaca_start, 
			COALESCE(DATE_FORMAT(vh.vaca_end_time, '%H:%i'), '00:00') AS vaca_end,
			COALESCE(DATE_FORMAT(ch.work_started, '%H:%i'), '00:00') AS work_started,
			COALESCE(DATE_FORMAT(ch.work_ended, '%H:%i'), '00:00') AS work_ended,
			COALESCE(ch.work_state, '-') AS work_state,
			COALESCE(vh.doc_code, '0') AS doc_code
			FROM commute_history ch
			JOIN employee e ON e.emp_id = ch.emp_id
			LEFT JOIN vacation_history vh ON ch.work_day = vh.vaca_date AND e.emp_id = vh.emp_id 
			WHERE e.emp_id = #{emp_id} AND ch.work_day LIKE CONCAT(#{modaldate}, '-%')
		ORDER BY ch.work_day asc;
	</select>
	
	<select id="worksmodal" resultType="work">
		SELECT ch.work_day, 
			COALESCE(DATE_FORMAT(ch.work_start_time, '%H:%i'), '00:00') AS work_start,
			COALESCE(DATE_FORMAT(ch.work_end_time, '%H:%i'), '00:00') AS work_end, 
			COALESCE(DATE_FORMAT(vh.vaca_start, '%H:%i'), '00:00') AS vaca_start, 
			COALESCE(DATE_FORMAT(vh.vaca_end_time, '%H:%i'), '00:00') AS vaca_end,
			COALESCE(DATE_FORMAT(ch.work_started, '%H:%i'), '00:00') AS work_started,
			COALESCE(DATE_FORMAT(ch.work_ended, '%H:%i'), '00:00') AS work_ended,
			COALESCE(ch.work_state, '-') AS work_state,
			COALESCE(vh.doc_code, '0') AS doc_code
			FROM commute_history ch
			JOIN employee e ON e.emp_id = ch.emp_id
			LEFT JOIN vacation_history vh ON ch.work_day = vh.vaca_date AND e.emp_id = vh.emp_id 
			WHERE e.emp_id = #{emp_id} AND ch.work_day LIKE CONCAT(#{modaldate}, '-%') AND work_state = '정상'
		ORDER BY ch.work_day asc;
	</select>
	
	<select id="worktmodal" resultType="work">
		SELECT ch.work_day, 
			COALESCE(DATE_FORMAT(ch.work_start_time, '%H:%i'), '00:00') AS work_start,
			COALESCE(DATE_FORMAT(ch.work_end_time, '%H:%i'), '00:00') AS work_end, 
			COALESCE(DATE_FORMAT(vh.vaca_start, '%H:%i'), '00:00') AS vaca_start, 
			COALESCE(DATE_FORMAT(vh.vaca_end_time, '%H:%i'), '00:00') AS vaca_end,
			COALESCE(DATE_FORMAT(ch.work_started, '%H:%i'), '00:00') AS work_started,
			COALESCE(DATE_FORMAT(ch.work_ended, '%H:%i'), '00:00') AS work_ended,
			COALESCE(ch.work_state, '-') AS work_state,
			COALESCE(vh.doc_code, '0') AS doc_code
			FROM commute_history ch
			JOIN employee e ON e.emp_id = ch.emp_id
			LEFT JOIN vacation_history vh ON ch.work_day = vh.vaca_date AND e.emp_id = vh.emp_id 
			WHERE e.emp_id = #{emp_id} AND ch.work_day LIKE CONCAT(#{modaldate}, '-%') AND work_state = '미달'
		ORDER BY ch.work_day asc;
	</select>
	
	<select id="workChk" resultType="boolean">
		SELECT COUNT(*) FROM commute_history WHERE emp_id = #{login_id} AND work_day = #{workdate} 
	</select>
	
	<select id="timelineList" resultType="HashMap">
		SELECT ch.work_day, 
			COALESCE(CONCAT(LPAD(HOUR(ch.work_start_time), 2, '0'),':',LPAD(MINUTE(ch.work_start_time), 2, '0')), '00:00') AS work_start,
			COALESCE(CONCAT(LPAD(HOUR(ch.work_end_time), 2, '0'),':',LPAD(MINUTE(ch.work_end_time), 2, '0')), '00:00') AS work_end, 
			COALESCE(CONCAT(LPAD(HOUR(vh.vaca_start), 2, '0'),':',LPAD(MINUTE(vh.vaca_start), 2, '0')), '00:00') AS vaca_start, 
			COALESCE(CONCAT(LPAD(HOUR(vh.vaca_end_time), 2, '0'),':',LPAD(MINUTE(vh.vaca_end_time), 2, '0')), '00:00') AS vaca_end
			FROM commute_history ch
			LEFT JOIN vacation_history vh ON ch.work_day = vh.vaca_date 
			WHERE ch.emp_id = #{login_id} AND ch.work_day LIKE CONCAT(#{workmonth}, '-%')
		ORDER BY ch.work_day asc;
	</select>
	
	<select id="timeNowList" resultType="HashMap">
		SELECT ch.work_day, 
			COALESCE(CONCAT(LPAD(HOUR(ch.work_start_time), 2, '0'),':',LPAD(MINUTE(ch.work_start_time), 2, '0')), '00:00') AS work_start,
			COALESCE(CONCAT(LPAD(HOUR(ch.work_end_time), 2, '0'),':',LPAD(MINUTE(ch.work_end_time), 2, '0')), '00:00') AS work_end
			FROM commute_history ch
			WHERE ch.emp_id = #{login_id}	
		ORDER BY ch.work_day asc;
	</select>
	
	<select id="vhList" resultType="HashMap">
		SELECT 
			COALESCE(vh.doc_code, '0') AS doc_code,
			vh.vaca_date,
			COALESCE(CONCAT(LPAD(HOUR(vh.vaca_start), 2, '0'),':',LPAD(MINUTE(vh.vaca_start), 2, '0')), '00:00') AS vaca_start, 
			COALESCE(CONCAT(LPAD(HOUR(vh.vaca_end_time), 2, '0'),':',LPAD(MINUTE(vh.vaca_end_time), 2, '0')), '00:00') AS vaca_end
		FROM vacation_history vh WHERE vh.emp_id = #{login_id}	
		ORDER BY vh.vaca_date;
	</select>

</mapper>